<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	
    <title>album</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	 <link rel="stylesheet" href="../css/global.css">
	  <link rel="stylesheet" href="../css/link.css">
	<style type="text/css">
		.card{
		      height:300px;
		      width:20%;
		      float:left;
		     margin-left:30px;
		     margin-top:10px;
		       }
	</style>
	
	

</head>
<body>
<!--PC导航栏-->
<nav class="nav-bar-holder">
    <div class="nav-bar" id="nav-bar">
        <div class="logo-box">
            <a href="index.html" class="blog-title ta-c"><img style="vertical-align: top;" alt="logo"
                                                              src="../img/user.jpeg" /></a>
        </div>
        <div class="nb-a-holder" id="home"><a id="active" class="nb-a ta-c" href="index.html">首页</a></div>
        <div class="nb-a-holder"><a class="nb-a ta-c" href="articleadmin.html">后台</a></div>
        <div class="nb-a-holder"><a class="nb-a ta-c" href="album.html">相册</a></div>
        <!--搜索框-->
        <div id="search-nb">
                <span class="search-s fl">
                    <label for="search-input"></label><input class="fl" type="text" id="search-input"
                                                             placeholder="请输入关键字">
                    <a class="search-icon fl" onclick="search_by_key()" href="javascript:void(0);"></a>
                </span>
        </div>
        <div class="nb-a-holder-last">
            <div class="nb-a-holder-small" id="mylogin">
                <a class="a-login" href="login.html">登录</a>
            </div>
            <div class="nb-a-holder-small" id="myreg">
                <a class="a-login" href="register.html">注册</a>
            </div>
        </div>
    </div>
</nav>
<!--mobile导航栏-->
<nav class="mobile-nav">
    <div class="logo-box">
        <a href="index.html" class="blog-title ta-c">
            <img style="vertical-align: top;" alt="logo"
                 src="../img/user.jpeg" /></a>
    </div>
    <a id="mobile_cate" style="background-image: url('../img/cate.svg')" href="javascript:void(0);"></a>
</nav>
<ul id="nav-m-list">
    <li id="cancel-li"><a class="fr" id="cancel" href="javascript:void(0);"></a></li>
    <li id="m-img-li">
        <img id="m-img" alt="苍茫误此生" src="../img/user.jpeg">
    </li>
    <li>
            <span class="search-s fl">
                <label for="search-input-m"></label><input class="fl" type="text" id="search-input-m" placeholder="关键词">
                <a class="search-icon fl" onclick="m_search()" href="javascript:void(0);"></a>
            </span>
    </li>
    <li><a class="w-h-100 fl" href="index.html">首页</a></li>
    <li><a class="w-h-100 fl" href="login.html">登录</a></li>
    <li><a class="w-h-100" href="register.html">注册</a></li>
    <li><a class="w-h-100 fl" href="album.html">相册</a></li>
    <li><a class="w-h-100 f1" href="articleadmin.html">后台</a></li>
</ul>
<div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>

<div class="big-container">
    <article class="article">

        <!--友情链接-->
 <ul class="nav nav-tabs">
   <li role="presentation" class="active"><a href="#">我的相册</a></li>
   <li role="presentation" class="dropdown">
 		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
 			选择 <span class="caret"></span>
 		</a>
 		<ul class="dropdown-menu">
 			<!-- <li><a href="#" >新建相册</a></li>
 		    <li><a href="#">修改相册名</a></li>
 		    <li><a href="#">删除相册</a></li>
 		    <li role="separator" class="divider"></li> -->
 		    <li><a href="#">上传图片<input type="file" id="file" accept="image/*"><br>
 				<button type="button" class="btn" id="btn_up">上传</button>
 				</a>
 			</li>
 			
 		</ul>
   </li>
 </ul>
 <div  id="imgbox">

 </div>
    </article>
</div>
	<!-- 删除的模态框 -->
	    <div class="modal fade" tabindex="-1" role="dialog" id="delModal">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    <h4 class="modal-title">删除</h4>
	                </div>
	                <div class="modal-body">
						<input type="hidden"  id="del_id">
	                 确定删除该图片吗？
	                 </div>
	                                
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	                    <button type="button" class="btn btn-primary" onclick="doDelete()">确定</button>
	                </div>
	            </div><!-- /.modal-content -->
	        </div><!-- /.modal-dialog -->
	    </div><!-- /.modal -->

</body>

<script src="../../jquery/jquery-3.4.1.min.js"></script>
<script src="../../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../js/ajaxfileupload.js"></script>
<script type="text/javascript">


    //登录状态增加
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i].trim();
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }
    function exit() {
        setCookie("user_info","",-1);
        setCookie("user_id","",-1);
    }
    function setCookie(cname,cvalue,exdays)
    {
        var d = new Date();
        d.setTime(d.getTime()+(exdays*24*60*60*1000));
        var expires = "expires="+d.toGMTString();
        document.cookie = cname+"="+cvalue+"; "+expires;
    }
    jQuery(function() {
        //加载个人信息
        if (getCookie("user_info") != "") {
            var myname = getCookie("user_info");
            jQuery("#mylogin").html("<a class=\"a-login\" href=\"login.html\">"+myname+"</a>");
            jQuery("#myreg").html("<a class=\"a-login\" onclick=\"exit()\"href=\"index.html\">退出</a>");
            showUserInfo(myname);
        }
    });

	jQuery(function(){
		var id=getCookie("user_id")
		jQuery.post("/show",{"id":id},function(rst){
			
			var body="";
			for(var i=0;i<rst.length;i++)
			{
				var json=rst[i];//{"photo_save_path":"./img","photo_id":5,"user_id":1}
				body+="<div class='card'>"+
					"<img class='card-img-top' height='250' width='250' src="
					+"\""+json.photo_save_path+"\" alt='Unsplash'>"+
					"<div class='card-body'>"+
					"<a href='#' class='btn btn-primary' onclick='showDelModal(\""+json.photo_id+"\")'>Delete</a>&nbsp;&nbsp;";
				body+="</div>";
				body+="</div>";
			}
			jQuery("#imgbox").html(body);
		},"json");
	});
	jQuery(function(){
		jQuery("#btn_up").click(function(){
            var f=jQuery("#file")[0].files[0];
            var n=getCookie("user_id");
            var formData=new FormData();
            formData.append("file",f);
            formData.append("userId",n);
            jQuery.ajax({
                type:"post",
                url:"/upPhoto",
                data:formData,
                processData: false,//jquery不处理数据
                contentType:false,//jquery不需要设置content-type的类型
                success:function(rst){
                    alert(rst);
                    location.reload();

                },
                fail:function(rst){
                    alert(rst);
                }

            });
            
			
		});
	});

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i].trim();
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }
	
	function doDelete()
	{
		jQuery("#delModal").modal("hide");
		var id=jQuery("#del_id").val();
		
		jQuery.post("/deletePhoto",{"id":id},function(rst){
			alert(rst);
			
			if(rst=="删除图片成功"){
				location.reload();
			}
		});
	}
	 
	function showDelModal(id){
		jQuery("#del_id").val(id);
		jQuery("#delModal").modal("show");
	}
</script>

</html>