<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Boundless-UI</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/pace-theme-flash.css">
    <link rel="stylesheet" href="../css/d-audio.css">
    <link rel="stylesheet" href="../css/myPagination.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../img/user.jpeg">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    <style rel="stylesheet">
        .lazy-image {
            background: url('../img/loading.gif') no-repeat center;
            background-size: 26% 35%;
            height: 100%;
            width: 100%;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--PC导航栏-->
    <nav class="nav-bar-holder">
        <div class="nav-bar" id="nav-bar">
            <div class="logo-box">
                <a href="index.html" class="blog-title ta-c"><img style="vertical-align: top;" alt="logo"
                        src="../img/user.jpeg" /></a>
            </div>
            <div class="nb-a-holder" id="home"><a id="active" class="nb-a ta-c" href="index.html">首页</a></div>
            <div class="nb-a-holder"><a class="nb-a ta-c" href="articleadmin.html">后台</a></div>
            <div class="nb-a-holder"><a class="nb-a ta-c" href="album.html">相册</a></div>
            <!--搜索框-->
            <div id="search-nb">
                <span class="search-s fl">
                    <label for="search-input"></label><input class="fl" type="text" id="search-input"
                        placeholder="请输入关键字">
                    <a class="search-icon fl" onclick="search_by_key()" href="javascript:void(0);"></a>
                </span>
            </div>
            <div class="nb-a-holder-last">
                <div class="nb-a-holder-small" id="mylogin">
                    <a class="a-login" href="login.html">登录</a>
                </div>
                <div class="nb-a-holder-small" id="myreg">
                    <a class="a-login" href="register.html">注册</a>
                </div>
            </div>
        </div>
    </nav>
    <!--mobile导航栏-->
    <nav class="mobile-nav">
        <div class="logo-box">
            <a href="index.html" class="blog-title ta-c">
                <img style="vertical-align: top;" alt="logo"
                    src="../img/user.jpeg" /></a>
        </div>
        <a id="mobile_cate" style="background-image: url('../img/cate.svg')" href="javascript:void(0);"></a>
    </nav>
    <ul id="nav-m-list">
        <li id="cancel-li"><a class="fr" id="cancel" href="javascript:void(0);"></a></li>
        <li id="m-img-li">
            <img id="m-img" alt="苍茫误此生" src="../img/user.jpeg">
        </li>
        <li>
            <span class="search-s fl">
                <label for="search-input-m"></label><input class="fl" type="text" id="search-input-m" placeholder="关键词">
                <a class="search-icon fl" onclick="m_search()" href="javascript:void(0);"></a>
            </span>
        </li>
        <li><a class="w-h-100 fl" href="index.html">首页</a></li>
        <li><a class="w-h-100 fl" href="login.html">登录</a></li>
        <li><a class="w-h-100" href="register.html">注册</a></li>
        <li><a class="w-h-100 fl" href="album.html">相册</a></li>
        <li><a class="w-h-100 f1" href="articleadmin.html">后台</a></li>
    </ul>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!--主体-->
    <div class="big-container" id="particles-js">
        <article class="article">
            <!--左容器-->
            <div class="left-holder">
                <!--文章内容-->
                <div id="article-holder" style="width: 100%; float: left">

                </div>
                <!--分页指示器-->
                <div id="pagination" class="pagination fl"></div>
            </div>

            <!--右容器-->
            <div class="right-holder">
                <!--个人介绍-->
                <div class="column-container">
                    <ul class="column_box" id="like-box">
                        <li class="column-title">
                            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl">个人介绍</a></span>
                        </li>
                        <li class="person-img-li">
                            <img alt="头像" id="person-img"
                                src="../img/QQ.svg">
                        </li>
                        <li class="person-intro-detail gradient-text" id="menu1">
                            <h1>欢迎光临我的博客</h1>
                        </li>
                    </ul>
                </div>
                <!--分类列表-->
                <div class="column-container">
                    <ul class="column_box" id="like-box123">
                        <li class="column-title">
                            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl">分类</a>
                            <button type="button" class="btn btn-default" id="addsort" onclick="showAddModal()">新增分类</button>
                            </span>

                        </li>

                    </ul>
                </div>
                <!--点击排行-->
                <div class="column-container">
                    <ul class="column_box" id="like-box11">
                        <li class="column-title">
                            <span class="at-sort b-b-ece fl">
                                <a class="at-sort-comment-a c-666 fl">热门文章</a>
                            </span>
                        </li>

                    </ul>
                </div>
            </div>
        </article>
    </div>
    <!-- 询问操作的模态框 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="askModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">你打算对该条记录进行什么操作？</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="ask_id">
                    <p id="ask_msg"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="showEditModal()">重命名</button>
                    <button type="button" class="btn btn-primary" onclick="showDelModal()">删除</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- 删除的模态框 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="delModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">确定删除该条分类？</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="del_id">
                    <p id="del_msg"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="doDelete()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- 修改的模态框 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="editModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="edit_id">
                    <form class="form-horizontal">
                        <div class="form-group form-group-lg">
                            <label class="control-label col-lg-2">修改后:</label>
                            <div class="col-lg-8">
                                <input type="text" name="no" id="editclass" class="form-control"
                                       placeholder="请输入修改后的分类名称">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="doEdit()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- 增加的模态框 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="addModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="add_id">
                    <form class="form-horizontal">
                        <div class="form-group form-group-lg">
                            <label class="control-label col-lg-2">分类id:</label>
                            <div class="col-lg-8">
                                <input type="text" name="no" id="addclassid" class="form-control"
                                       placeholder="请输入增加的分类id">
                            </div>
                        </div>
                        <div class="form-group form-group-lg">
                            <label class="control-label col-lg-2">分类名称:</label>
                            <div class="col-lg-8">
                                <input type="text" name="no" id="addclassname" class="form-control"
                                       placeholder="请输入增加的分类名称">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="doAdd()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--尾部-->
    <footer class="footer">
        <div class="footer-line">
            <div class="icon-center">
                <span class="icon-box"><a id="github-icon" target="_blank" href="https://github.com/zhaoyangkun"
                        class="foot-icon"></a>
                </span>
                <span class="icon-box"><a id="qq-icon" target="_blank"
                        href="tencent://Message/?Uin=2295098032&amp;websiteName=q-zone.qq.com&amp;Menu=yes"
                        class="foot-icon"></a>
                </span>
            </div>
        </div>
        <div class="footer-line">Powerde By <a href="https://github.com/zhaoyangkun/Boundless-UI"
                target="_blank">BoundlessUI</a> • © 2019</div>
        <div class="footer-line">浙ICP备88888888号 <a href="" target="_blank">站点地图</a>
        </div>
    </footer>
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../js/pace.min.js"></script>
    <script type="text/javascript" src="../js/base.js"></script>
    <script type="text/javascript" src="../js/d-audio.js"></script>
    <script type="text/javascript" src="../js/myPagination.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        // 分页
        const pagination = new myPagination({
            id: 'pagination',
            curPage: 1, //初始页码
            pageTotal: 1, //总页数
            pageAmount: 10, //每页多少条
            dataTotal: 29, //总共多少条数据
            pageSize: 3, //可选,分页个数
            //showPageTotalFlag: true, //是否显示数据统计
            //showSkipInputFlag: true, //是否支持跳转
            getPage: function (page) {
                console.log("current page: ", page);
            }
        });

        // 音乐插件
        const myAudio = new Daudio({
            ele: '#d-audio',
            src: 'https://zhaoyangkun.gitee.io/blog-static/music/迷人的危险.mp3',
            imageurl: 'https://zhaoyangkun.gitee.io/blog-static/img/dance_flow.jpg',
            name: '迷人的危险',
            singer: 'dance flow',
            // 是否显示进度信息
            showprogress: true,
            // 是否循环
            loop: true,
            // '' 就是默认状态， cricle则是初始化就是圆形且可以旋转
            initstate: 'cricle',
            next: function () {},
            ended: function () {}
        });
        // myAudio.play();

        // 图片懒加载
        const lazyImage = new LazyImage('.lazy-image');

        //加载所有文章
        jQuery(function(){
            var cookieuserid=getCookie("user_id");
            jQuery.post("/findAllArts",function(rst){//处理响应的结果
                var arrays = new Array();
                for (var i = 0; i < rst.length;i++) {
                    var jsontxt = rst[i];
                    arrays[i] = parseInt(jsontxt.article_id);
                }
                bubbleSort1(arrays);
                for (var i = 0; i < rst.length;i++) {
                    for (var j = 0; j < rst.length;j++) {
                        var count = i + 1;
                        jQuery("#article-holder").val(count);
                        if ((rst[j].user_id == cookieuserid)&&((rst[j]).article_id == arrays[i])) {
                            var json = rst[j];

                            var div1 = document.createElement("div");
                            div1.className = "article-box";
                            var div2 = document.createElement("div");
                            div2.className = "ab-content";
                            var div31 = document.createElement("div");
                            div31.className = "article-tile";
                            div31.id = "allarttitle" + count;
                            var div32 = document.createElement("div");
                            div32.className = "article-cate";
                            var div33 = document.createElement("div");
                            div33.className = "article-detail-box c-666";
                            div33.id = "allart2" + count;
                            var a1 = document.createElement("a");
                            a1.href = "article" +json.article_id + ".html";
                            a1.className = "article-img-box";
                            var a2 = document.createElement("a");
                            a2.href = "article" +json.article_id + ".html";
                            var a3 = document.createElement("a");
                            a3.id = "allartlab" + count;
                            var span = document.createElement("span");
                            span.className = "article-tail-box";
                            var span21 = document.createElement("span");
                            span21.className = "read-number c-999 fl";
                            span21.id = "allartlooknumber" + count;
                            var span22 = document.createElement("span");
                            span22.className = "comment-number c-999 fl"
                            span22.id = "allartcmtnumber" + count;
                            var span23 = document.createElement("span");
                            span23.className = "article-date c-999";
                            span23.id = "allartdate" + count;
                            var span24 = document.createElement("span");
                            span24.className = "article-author one-line-overflow c-999";
                            span24.id = "allartautor" + count;
                            var i1 = document.createElement("i");
                            i1.className = "fl";
                            i1.style = "background-image: url('https://zhaoyangkun.gitee.io/blog-static/img/read-index.svg')";
                            var i2 = document.createElement("i");
                            i2.className = "fl";
                            i2.style = "background-image: url('https://zhaoyangkun.gitee.io/blog-static/img/comment-index.svg')";
                            div31.appendChild(a2);
                            div32.appendChild(a3);
                            span.appendChild(span21, i2, span22, span23, span24);
                            div2.appendChild(a1);
                            div2.appendChild(div31);
                            div2.appendChild(div32);
                            div2.appendChild(div33);
                            div2.appendChild(span);
                            div2.appendChild(i1);
                            div1.appendChild(div2);
                            div1.appendChild(i1);

                            document.getElementById("article-holder").appendChild(div1);
                            //jQuery("#" + "hotart" + jQuery("#article-holder").val()).text(json.article_title);
                            jQuery("#" + "allarttitle" + count).text(json.article_title);
                            jQuery("#" + "allart2" + count).text(json.article_content);
                            jQuery("#" + "allartlooknumber" + count).text(json.article_like_count);
                            jQuery("#" + "allartcmtnumber" + count).text(json.article_comment_count);
                            jQuery("#" + "allartdate" + count).text(json.article_date);
                            jQuery("#" + "allartautor" + count).text("作者：" + getCookie("user_name"));
                        }
                    }
                }
            },"json");//表示返回数据的格式，返回的是list或map则可以设置为json，返回字符串不能设置为json格式
        });

        //加载热门文章
        jQuery(function(){
            var cookieuserid=getCookie("user_id");
            jQuery.post("/findAllArts",function(rst){//处理响应的结果
                var arrays = new Array();
                for (var i = 0; i < rst.length;i++) {
                    var jsontxt = rst[i];
                    arrays[i] = parseInt(jsontxt.article_like_count);
                }
                bubbleSort(arrays);
                var flag = 0;
                for (var i = 0; (i < rst.length) && (flag < 4);i++) {
                    for (var j = 0; j < rst.length;j++) {
                        var count = i + 1;
                        jQuery("#like-box11").val(count);
                        if (((rst[j]).article_like_count == arrays[i])&&(rst[j].user_id == cookieuserid)) {
                            flag += 1;
                            var json = rst[j];
                            var a = document.createElement("a");
                            a.id = "hotart" + jQuery("#like-box11").val();
                            a.href = "article" + json.article_id+ ".html";
                            var li = document.createElement("li");
                            li.className = "column-category";
                            li.appendChild(a);

                            document.getElementById("like-box11").appendChild(li);
                            jQuery("#" + "hotart" + jQuery("#like-box11").val()).text(json.article_title);
                        }
                    }
                }
            },"json");//表示返回数据的格式，返回的是list或map则可以设置为json，返回字符串不能设置为json格式
        });

        //简单写一个排序算法
        function bubbleSort(arr) {
            var len = arr.length;
            for (var i = 0; i < len; i++) {
                for (var j = 0; j < len - 1 - i; j++) {
                    if (arr[j] < arr[j+1]) {        //相邻元素两两对比
                        var temp = arr[j+1];        //元素交换
                        arr[j+1] = arr[j];
                        arr[j] = temp;
                    }
                }
            }
            return arr;
        }
        function bubbleSort1(arr) {
            var len = arr.length;
            for (var i = 0; i < len; i++) {
                for (var j = 0; j < len - 1 - i; j++) {
                    if (arr[j] > arr[j+1]) {        //相邻元素两两对比
                        var temp = arr[j+1];        //元素交换
                        arr[j+1] = arr[j];
                        arr[j] = temp;
                    }
                }
            }
            return arr;
        }


        //一定要注意post传参的格式，是:{"":""}的形式，且有可能要与mapper的形参对应

        //加载分类的内容，并实现点击分类的跳转功能
        jQuery(function(){
            $.ajaxSetup({
                async : false
            });
            var cookieuserid=getCookie("user_id");
            jQuery.post("/findallartsorts",function(rst){//处理响应的结果
            for (var i = 0; i < rst.length;i++) {
                var count = i + 1;
                var json = rst[i];
                document.getElementById("menu1").setAttribute("infor",json.article_sort_id);
                document.getElementById("menu2").setAttribute("infor",json.article_sort_name);
                //alert("外部" + json.article_sort_name);
                jQuery.post("/finduserbysortid",{"sortid":parseInt(rst[i].article_sort_id)},function(userrst) {
                    if (userrst.indexOf(cookieuserid.toString()) != -1) {
                        count++;
                        var a = document.createElement("a");
                        a.id = "artsort" + count;
                        a.setAttribute("infor", json.article_sort_id);
                        var btn1 = document.createElement("button");
                        btn1.id = "rename" + count;
                        btn1.type = "button";
                        btn1.className = "btn btn-default";
                        btn1.style = "background-color: white";
                        btn1.setAttribute("infor", json.article_sort_id);
                        btn1.setAttribute("value", json.article_sort_name);
                        var divbtn = document.createElement("a");
                        divbtn.style = "display:inline";
                        divbtn.appendChild(a);
                        divbtn.appendChild(btn1);

                        var li = document.createElement("li");
                        li.className = "column-category";


                        li.appendChild(divbtn);

                        document.getElementById("like-box123").appendChild(li);

                        jQuery("#" + "rename" + count).text("修改").click(function () {
                            showAskModal(this.getAttribute('infor'), this.getAttribute('value'))
                        });

                        jQuery("#" + "artsort" + count).click(function () {
                            loadArts(this.getAttribute('infor'));//直接传参传不进去，把内容放进控件的属性中再取出达到传参的效果
                        }).text(json.article_sort_name);

                    }
                },"json");
            }
            },"json");//表示返回数据的格式，返回的是list或map则可以设置为json，返回字符串不能设置为json格式
        });

        function isInList(arr,value){
            for(var i = 0; i < arr.length; i++){
                if(value === arr[i]){
                    return true;
                }
            }
            return false;
        }

        //加载某分类对应的文章列表
        function loadArts(artsortid) {
            var cookieuserid=getCookie("user_id");
            jQuery("#article-holder").empty();
            // $.ajaxSetup({
            //     async : false
            // });

            jQuery.post("/findartbysortid",{"sortid":artsortid},function(rst) {
                for (var i = 0; i < rst.length; i++) {
                    var count = i + 1;
                    var json = rst[i];

                     jQuery.post("/finduserbyartid",{"artid":json.article_id},function(userrst1) {
                         if (userrst1 == cookieuserid) {

                             jQuery.post("/findArtById", {"artid": json.article_id}, function (rst) {
                                 count++;  //加上这个是因为ajax异步操作，导致post内部的count不随着外部的for循环而改变
                                 var div1 = document.createElement("div");
                                 div1.className = "article-box";
                                 var div2 = document.createElement("div");
                                 div2.className = "ab-content";
                                 var div31 = document.createElement("div");
                                 div31.className = "article-tile";
                                 div31.id = "arttest" + count;

                                 var div32 = document.createElement("div");
                                 div32.className = "article-cate";
                                 var div33 = document.createElement("div");
                                 div33.className = "article-detail-box c-666";
                                 div33.id = "art" + count;
                                 var a1 = document.createElement("a");
                                 a1.href = "article" + rst.article_id +".html";
                                 a1.className = "article-img-box";
                                 var a2 = document.createElement("a");
                                 a2.href = "article" + rst.article_id +".html";
                                 var a3 = document.createElement("a");
                                 a3.id = "lable" + count;
                                 var span = document.createElement("span");
                                 span.className = "article-tail-box";
                                 var span21 = document.createElement("span");
                                 span21.className = "read-number c-999 fl";
                                 span21.id = "looknumber" + count;
                                 var span22 = document.createElement("span");
                                 span22.className = "comment-number c-999 fl"
                                 span22.id = "cmtnumber" + count;
                                 var span23 = document.createElement("span");
                                 span23.className = "article-date c-999";
                                 span23.id = "date" + count;
                                 var span24 = document.createElement("span");
                                 span24.className = "article-author one-line-overflow c-999";
                                 span24.id = "autor" + count;
                                 var i1 = document.createElement("i");
                                 i1.className = "fl";
                                 i1.style = "background-image: url('https://zhaoyangkun.gitee.io/blog-static/img/read-index.svg')";
                                 var i2 = document.createElement("i");
                                 i2.className = "fl";
                                 i2.style = "background-image: url('https://zhaoyangkun.gitee.io/blog-static/img/comment-index.svg')";

                                 div31.appendChild(a2);
                                 div32.appendChild(a3);
                                 span.appendChild(span21, i2, span22, span23, span24);
                                 div2.appendChild(a1);
                                 div2.appendChild(div31);
                                 div2.appendChild(div32);
                                 div2.appendChild(div33);
                                 div2.appendChild(span);
                                 div2.appendChild(i1);
                                 div1.appendChild(div2);
                                 div1.appendChild(i1);

                                 document.getElementById("article-holder").appendChild(div1);
                                 jQuery("#" + "arttest" + count).text(rst.article_title);
                                 jQuery("#" + "art" + count).text(rst.article_content);
                                 jQuery("#" + "looknumber" + count).text(rst.article_like_count);
                                 jQuery("#" + "cmtnumber" + count).text(rst.article_comment_count);
                                 jQuery("#" + "date" + count).text(rst.article_date);
                                 jQuery("#" + "lable" + count).text("作者：" + rst.user_id);

                             }, "json");
                         }
                     });
                }
            },"json");
        }

        //如果是通过function定义的方法必须在jquery外面写
        function showDelModal()
        {
            //jQuery("#like-box123").val()
            jQuery("#delModal").modal("show");
        }
        function doDelete()
        {
            jQuery("#delModal").modal("hide");
            var id=jQuery("#like-box123").val();
            //json格式的属性名称必须与后台对应
            jQuery.post("/deleteartsort",{"id":id},function(rst){
                alert(rst);
                //如果删除成功，重新加载数据
                if(rst=='删除成功')
                {
                    //重新加载本页面
                    location.reload();
                }
            });
        }
        function showEditModal()
        {
            //jQuery("#like-box123").val(sortid);
            jQuery("#editclass").val(jQuery("#askclass").val());
            jQuery("#editModal").modal("show");
        }
        function doEdit() {
            jQuery("#editModal").modal("hide");
            //获取数据
            var id=jQuery("#like-box123").val();
            var name=jQuery("#editclass").val();
            jQuery.post("/editartsort",{"id":id,"name":name},function (rst) {
                alert(rst);
                if(rst=="修改成功")
                {
                    location.reload();
                }
            })
        }
        function showAskModal(sortid,sortname)
        {
            jQuery("#like-box123").val(sortid);
            jQuery("#askclass").val(sortname);
            jQuery("#askModal").modal("show");
        }
        function doAsk() {
            jQuery("#editModal").modal("hide");
            //获取数据
            var id=jQuery("#like-box123").val();
            var name=jQuery("#editclass").val();
            jQuery.post("/editartsort",{"id":id,"name":name},function (rst) {
                alert(rst);
                if(rst=="修改成功")
                {
                    location.reload();
                }
            })
        }
        function showAddModal()
        {
            jQuery("#addModal").modal("show");
        }
        function doAdd() {
            jQuery("#addModal").modal("hide");
            //获取数据
            var id=jQuery("#addclassid").val();
            var name=jQuery("#addclassname").val();
            jQuery.post("/saveartsort",{"id":id,"name":name},function (rst) {
                alert(rst);
                if(rst=="增加成功")
                {
                    location.reload();
                }
            })
        }



        jQuery(function() {
            if (getCookie("user_info") != "") {
                // <div class="nb-a-holder-small" id="mylogin">
                //     <a class="a-login" href="login.html">登录</a>
                //     </div>
                //     <div class="nb-a-holder-small" id="myreg">
                //     <a class="a-login" href="register.html">注册</a>
                //     </div>
                var myname = getCookie("user_info");
                jQuery("#mylogin").html("<a class=\"a-login\" href=\"userinfo.html\">"+myname+"</a>");
                jQuery("#myreg").html("<a class=\"a-login\" onclick=\"exit()\"href=\"index.html\">退出</a>");

            }

        });

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }

        //清除cookie
        function exit() {
            setCookie("user_info","",-1);
            setCookie("user_id","",-1);
        }
        function setCookie(cname,cvalue,exdays)
        {
            var d = new Date();
            d.setTime(d.getTime()+(exdays*24*60*60*1000));
            var expires = "expires="+d.toGMTString();
            document.cookie = cname+"="+cvalue+"; "+expires;
        }

    </script>
</body>

</html>