<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta charset="UTF-8">
    <meta name="keywords" content="django,python,C++,数据结构,电脑操作技巧,个人博客">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>友情链接</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/pace-theme-flash.css">
    <link rel="stylesheet" href="../css/d-audio.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/link.css">
    <link rel="shortcut icon" href="../img/user.jpeg">
    <style rel="stylesheet">
        .lazy-image {
            background: url('../img/loading.gif') no-repeat center;
            background-size: 26% 35%;
            height: 100%;
            width: 100%;
        }
        #selectinfo{

            height: 60px;
            line-height: 100px;

        }
    </style>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--PC导航栏-->
<nav class="nav-bar-holder">
    <div class="nav-bar" id="nav-bar">
        <div class="logo-box">
            <a href="index.html" class="blog-title ta-c"><img style="vertical-align: top;" alt="logo"
                                                              src="../img/user.jpeg" /></a>
        </div>
        <div class="nb-a-holder" id="home"><a class="nb-a ta-c" href="index.html">首页</a></div>
        <div class="nb-a-holder"><a class="nb-a ta-c" href="category.html">分类</a></div>
        <div class="nb-a-holder"><a class="nb-a ta-c" href="tag.html">标签墙</a></div>
        <div class="nb-a-holder"><a class="nb-a ta-c" href="archive.html">归档</a></div>
        <div class="nb-a-holder"><a class="nb-a ta-c" href="link.html">友情链接</a></div>
        <!--搜索框-->
        <div class="nb-a-holder" >

                    <select id="selectinfo" style="font-size:17px;" onchange="showChange(this.value)">
                            <option value ="基本信息">基本信息</option>
                            <option value ="密码修改">密码修改</option>
                            <option value="关注列表">关注列表</option>
                            <option value="其他信息">其他信息</option>
                    </select>

        </div>
        <div class="nb-a-holder-last">
            <div class="nb-a-holder-small"id="mylogin">
                <a class="a-login"  href="login.html">登录</a>
            </div>
            <div class="nb-a-holder-small"id="myreg">
                <a class="a-login"  href="register.html">注册</a>
            </div>
        </div>
    </div>
</nav>
<!--mobile导航栏-->
<nav class="mobile-nav">
    <div class="logo-box">
        <a href="index.html" class="blog-title ta-c">
            <img style="vertical-align: top;" alt="logo" src="../img/user.jpeg" /></a>
    </div>
    <a id="mobile_cate" style="background-image: url('../img/cate.svg')" href="javascript:void(0);"></a>
</nav>
<ul id="nav-m-list">
    <li id="cancel-li"><a class="fr" id="cancel" href="javascript:void(0);"></a></li>
    <li id="m-img-li">
        <img id="m-img" alt="苍茫误此生" src="../img/user.jpeg">
    </li>
    <li>
            <span class="search-s fl">
                <label for="search-input-m"></label><input class="fl" type="text" id="search-input-m" placeholder="关键词">
                <a class="search-icon fl" onclick="m_search()" href="javascript:void(0);"></a>

            </span>
    </li>
    <li><a class="w-h-100 fl" href="index.html">首页</a></li>
    <li><a class="w-h-100 fl" href="login.html">登录</a></li>
    <li><a class="w-h-100" href="register.html">注册</a></li>
    <li><a class="w-h-100 fl" href="category.html">分类</a></li>
    <li><a class="w-h-100 fl" href="tag.html">标签墙</a></li>
    <li><a class="w-h-100 fl" href="archive.html">归档</a></li>
    <li><a class="w-h-100 fl" href="link.html">友情链接</a></li>
</ul>
<div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
<!--主体-->
<div class="big-container">
    <article class="article">
        <!--友情链接-->
        <ul class="link-box"id="user_box">
            <li>
                <a href="https://www.cangmangai.cn/" target="_blank">苍茫误此生博客</a>
                <input class="inp-input" data-required="请输入新密码" data-rule="^[\w_-]{6,16}$"
                data-rule-message="请输入6至16位普通字符" data-block="true" id="new_pwd_r" name="new_pwd" type="password"
                placeholder="备注" value="hhhh"/>
                <button type="button" class="btn btn-default">保存</button>
                <button type="button" class="btn btn-default">删除</button>

            </li>
            <!--<li>-->
                <!--<div class="form-group">-->
                    <!--<label>选择头像：</label>-->
                    <!--<div>-->
                        <!--<img class="head-img"src="../img/QQ.svg">-->

                    <!--</div>-->
                    <!--<input type="file" class="form-control brandPic" id="brandPic">-->
                <!--</div>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a>用户名</a>-->
                <!--<input class="inp-input" data-block="true" type="text"disabled="disabled"  id="user_name"-->
                        <!--placeholder="用户名" />-->
            <!--</li>-->
            <!--<li>-->
                <!--<a>注册时间</a>-->
                <!--<input class="inp-input" data-block="fales" type="text" disabled="disabled"-->
                        <!--placeholder="2000-9-9" />-->
            <!--</li>-->
            <!--<li>-->
                <!--<a>性别</a>-->
                <!--<select id="sex_r",name="sex">-->
                    <!--<option value ="男">男</option>-->
                    <!--<option value ="女" selected = "selected">女</option>-->
                <!--</select>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a>修改密码</a>-->
                <!--<li> <input class="inp-input" data-required="请输入原密码" data-rule="^[\w_-]{6,16}$"-->
                    <!--data-rule-message="请输入6至16位普通字符" data-block="true" id="pwd_r" name="pwd" type="password"-->
                    <!--placeholder="请输入原密码" />-->
                 <!--</li>-->
                <!--<li>  <input class="inp-input" data-required="请输入新密码" data-rule="^[\w_-]{6,16}$"-->
                           <!--data-rule-message="请输入6至16位普通字符" data-block="true" id="new_pwd_r" name="new_pwd" type="password"-->
                           <!--placeholder="请输入新密码" />-->
                <!--</li>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a>生日</a>-->
                <!--<input class="inp-input" id="birthday_r" name="birthday" type="date" placeholder="2000-09-09"/>-->
            <!--</li>-->
        </ul>
    </article>
</div>
<!--尾部-->
<footer class="footer">
    <div class="footer-line">
        <div class="icon-center">
                <span class="icon-box"><a id="github-icon" target="_blank" href="https://github.com/zhaoyangkun"
                                          class="foot-icon"></a>
                </span>
            <span class="icon-box"><a id="qq-icon" target="_blank"
                                      href="tencent://Message/?Uin=2295098032&amp;websiteName=q-zone.qq.com&amp;Menu=yes"
                                      class="foot-icon"></a>
                </span>
        </div>
    </div>
    <div class="footer-line">Powerde By <a href="https://github.com/zhaoyangkun/Boundless-UI"
                                           target="_blank">BoundlessUI</a> • © 2019</div>
    <div class="footer-line">浙ICP备88888888号 <a href="" target="_blank">站点地图</a>
    </div>
</footer>
<script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../js/sweetalert.min.js"></script>
<script type="text/javascript" src="../js/pace.min.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<script src="../js/ajaxfileupload.js"></script>
<script type="text/javascript" src="../js/d-audio.js"></script>
<script type="text/javascript" defer>
    //音乐插件
    const myAudio = new Daudio({
        ele: '#d-audio',
        src: 'https://zhaoyangkun.gitee.io/blog-static/music/迷人的危险.mp3',
        imageurl: 'https://zhaoyangkun.gitee.io/blog-static/img/dance_flow.jpg',
        name: '迷人的危险',
        singer: 'dance flow',
        // 是否显示进度信息
        showprogress: true,
        // 是否循环
        loop: true,
        // '' 就是默认状态， cricle则是初始化就是圆形且可以旋转
        initstate: 'cricle',
        next: function () {},
        ended: function () {}
    });
    //myAudio.play();

    //图片懒加载
    const lazyImage = new LazyImage('.lazy-image');



    //读取cookie
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i].trim();
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }
    //清除cookie
    function exit() {
        setCookie("user_info","",-1);
    }
    function setCookie(cname,cvalue,exdays)
    {
        var d = new Date();
        d.setTime(d.getTime()+(exdays*24*60*60*1000));
        var expires = "expires="+d.toGMTString();
        document.cookie = cname+"="+cvalue+"; "+expires;
    }
    jQuery(function() {
        //加载个人信息
        if (getCookie("user_info") != "") {
            var myname = getCookie("user_info");
            jQuery("#mylogin").html("<a class=\"a-login\" href=\"login.html\">"+myname+"</a>");
            jQuery("#myreg").html("<a class=\"a-login\" onclick=\"exit()\"href=\"index.html\">退出</a>");
            showUserInfo(myname);
        }
    });
    function showChange(cname) {

        var myname = getCookie("user_info");
        if(cname=="密码修改"){
            showPwdModel(myname);
        }
        else if(cname=="基本信息"){
            showUserInfo(myname);
        }
        else if(cname=="关注列表"){

            showFriList(myname);
        }
        else if(cname=="其他信息"){
            showElse(myname);
        }
    }
    function showUserInfo(myname) {
        jQuery.post("/searchuser", {"name": myname}, function (rst) {//处理响应的结果
            var body = "";
            body += "<li>\n" +
                "                <div class=\"form-group\">\n" +
                "                    <div>\n" +
                "                        选择头像：<img class=\"head-img\"src=\"" +
        rst.user_profile_photo +
                "\">\n" +
                "\n" +
                "                    </div>\n" +
                "                    <input type=\"file\"  id=\"brandPic\">\n" +
                    "<button type=\"button\" id=\"btn_up\">上传</button>"+
                "                </div>\n" +
                "            </li>";
            body += "<li>\n" +
                "                <a>用户名</a>\n" +
                "                <input class=\"inp-input\" data-block=\"true\" type=\"text\"disabled=\"disabled\"  id=\"user_name\"\n" +
                "                        placeholder=\"" +
                rst.user_name +
                "\" />\n" +
                "            </li>";
            body += "<li>\n" +
                "                <a>注册时间</a>\n" +
                "                <input class=\"inp-input\" data-block=\"fales\" type=\"text\" disabled=\"disabled\"\n" +
                "                        placeholder=\"" +
                rst.user_reg_time +
                "\" />\n" +
                "            </li>";
            if(rst.user_sex=="男"){
                body += "\n" +
                    "            <li>\n" +
                    "                <a>性别</a>\n" +
                    "                <select id=\"sex_r\",name=\"sex\">\n" +
                    "                    <option value =\"男\"selected = \"selected\">男</option>\n" +
                    "                    <option value =\"女\" >女</option>\n" +
                    "                </select>\n" +
                    "            </li>";
            }
            else {
                body += "\n" +
                    "            <li>\n" +
                    "                <a>性别</a>\n" +
                    "                <select id=\"sex_r\",name=\"sex\">\n" +
                    "                    <option value =\"男\">男</option>\n" +
                    "                    <option value =\"女\" selected = \"selected\">女</option>\n" +
                    "                </select>\n" +
                    "            </li>";
            }
            body += " <li>\n" +
                "                <a>年龄</a>\n" +
                "                <input class=\"inp-input\" data-required=\"年龄\"\n" +
                "                       data-block=\"true\" id=\"age_r\" name=\"age\" type=\"text\"\n" +
                "                       value=\"" +
                rst.user_age +

                "\" />\n" +
                "            </li>";
            body += "<li>\n" +
                "                <a>生日</a>\n" +
                "                <input class=\"inp-input\" id=\"birthday_r\" name=\"birthday\" type=\"date\" placeholder=\"2000-09-09\"/>\n" +
                "            </li>";
            body += "<li>\n" +
                "<a  onclick=\"upDate("  + rst.user_pwd +
                "," + rst.user_right +
                ")\"href=\"\#\">保存</a>"+

                "            </li>"

            jQuery("#user_box").html(body);
            $("#birthday_r").val(rst.user_birthday);
            jQuery("#btn_up").click(function(){
                alert("gggg");
                var f=jQuery("#brandPic")[0].files[0];
                var formData=new FormData();
                formData.append("file",f);
                formData.append("u_name","jj");
                jQuery.ajax({
                    type:"post",
                    url:"/upprophoto",
                    data:formData,
                    processData: false,//jquery不处理数据
                    contentType:false,//jquery不需要设置content-type的类型
                    success:function(rst){
                        jQuery("#brandPic").val(rst);
                    },
                    fail:function(rst){
                        alert(rst);
                    }

                });

            });

        });


    }
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i].trim();
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }
    function upDate(pwd,right){

        var myname = getCookie("user_info");
        var sex= document.getElementById("sex_r").value;
        var bir= document.getElementById("birthday_r").value;
        var age=jQuery("#age_r").val();
        var profilephoto="../img/"+jQuery("#brandPic").val().substring(12);

        jQuery.post("/edituser",{"name":myname,"pwd":pwd,"profilephoto":profilephoto,
            "birthday":bir,"sex":sex,"age":age,"right":right},function(rst) {
            if(rst=="修改成功"){
                alert("修改成功")
                // window.location.reload();
            }
            else {
                alert("修改失败")
            }})

    }
    function showPwdModel(cname) {
        jQuery.post("/searchuser", {"name": cname}, function (rst) {//处理响应的结果
            var body = "";
            body += "<li>\n" +
                "                <a>修改密码</a>\n" +
                "                <li> <input class=\"inp-input\" data-required=\"请输入原密码\" data-rule=\"^[\\w_-]{6,16}$\"\n" +
                "                    data-rule-message=\"请输入6至16位普通字符\" data-block=\"true\" id=\"pwd_r\" name=\"pwd\" type=\"password\"\n" +
                "                    placeholder=\"请输入原密码\" />\n" +
                "                 </li>\n" +
                "                <li>  <input class=\"inp-input\" data-required=\"请输入新密码\" data-rule=\"^[\\w_-]{6,16}$\"\n" +
                "                           data-rule-message=\"请输入6至16位普通字符\" data-block=\"true\" id=\"new_pwd_r\" name=\"new_pwd\" type=\"password\"\n" +
                "                           placeholder=\"请输入新密码\" />\n" +
                "                </li>\n" +
                "            </li>";
            body += "<li>\n" +
                "<a  onclick=\"upDateCode(" +
                ")\"href=\"\#\">确认修改</a>"



            jQuery("#user_box").html(body);

        })
    }
    function upDateCode(){
        var myname = getCookie("user_info");
        var newpwdr = jQuery("#new_pwd_r").val();
        var pwdr = jQuery("#pwd_r").val();
        jQuery.post("/searchuser", {"name": myname}, function (rst) {
            if(rst.user_pwd!=pwdr){
                alert("原密码错误");
            }
            else {
                jQuery.post("/editpwd", {"name": myname, "pwd": newpwdr}, function (rst) {
                    if (rst == "修改成功") {
                        alert("修改成功")

                    }
                    else {
                        alert("修改失败")
                    }
                })
            }
        });




    }

    function showFriList(cname) {

        jQuery.post("/searchuser",{"name":cname},function(rst) {

            jQuery.post("/allfriends", {"id":rst.user_id},function (rst1) {//处理响应的结果

                var body = "";
                for (var i = 0; i < rst1.length; i++) {
                    var json = rst1[i];
                    if(json.user_status==1) {

                        jQuery.post("/userinfo", {"id": json.user_friends_id}, function (rst2) {
                            body += "<li>\n" +
                                "                <a href=\"https://www.cangmangai.cn/\" target=\"_blank\">" +
                                rst2.user_name +
                                "</a>\n" +
                                "                <input class=\"inp-input\" data-rule=\"^[\\w_-]{6,16}$\"\n" +
                                "                data-rule-message=\"请输入6至16位普通字符\" data-block=\"true\" id=\"new_note_r\" name=\"new_pwd\" type=\"text\"\n" +
                                "                placeholder=\"备注\"" +
                                "                       value=\"" +
                                json.user_note +
                                "\"" +
                                " />\n" +
                                "<button type=\"button\" class=\"btn btn-default\"onclick=\"upDateNote(" +
                                rst.user_id +
                                "," +
                                rst2.user_id +
                                ")\">保存</button>\n" +

                                "<button type=\"button\" class=\"btn btn-default\"onclick=\"upDateStatus(" +
                                rst.user_id +
                                "," +
                                rst2.user_id +
                                ")\" >删除</button>" +
                                "            </li>";
                            jQuery("#user_box").html(body);

                        });
                    }

                }
            }, "json");//表示返回数据的格式

        });

    }
    function upDateNote(user_id,user_friends_id){
        var newnote=jQuery("#new_note_r").val();
        jQuery.post("/editnote", {"id":user_id,"friendsid":user_friends_id,"note":newnote},function (rst) {
            alert("修改成功");

        });

    }
    function upDateStatus(user_id,user_friends_id){
        jQuery.post("/editstatus", {"id":user_id,"friendsid":user_friends_id,"status":0},function (rst) {
            alert("删除成功");

        });

    }
    function showElse(cname) {

    }



</script>
</body>

</html>